.inverted-card-image {
    transform: rotate(3.142rad);
}

.single-card-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
}

.card-info-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.card-info {
    display: block;
    color: #434958;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-top: 16px;
}