    .course {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        position: relative;
        flex-direction: column;
    }
    
    .course-item {
        margin-top: 36px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .course-item-inner-wrapper {
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    
    .course-item-title {
        color: black;
        font-size: 24px;
    }
    
    .course-item-description {
        color: black;
        font-size: 18px;
        margin-top: 8px;
    }
    
    .arrow-logo {
        width: 32px;
        height: 32px;
    }