.main {
    font-family: "PT Sans", sans-serif;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    justify-content: center;
    padding: 18px;
}

.main-logo {
    height: 128px;
    width: 128px;
}

.h1-main {
    font-size: 52px;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
}

.span-main {
    font-size: 32px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 1200px;
}