@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url(./assets/fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url(./assets/fonts/Montserrat-ExtraBold.woff) format("woff");
}

a {
    text-decoration: none;
}

h1 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
}